<div class="row">
  <div class="col">
    <div class="row g-3">
      <h6>Breakfast</h6>
      
      <div class="col" *ngFor="let meal of breakfastMeals">
        <app-meal-card
          [meal]="meal"
          (newCarbCountEvent)="updateCarbCount($event)"
        ></app-meal-card>
      </div>
    </div>

    <div class="row g-3">
      <h6>Lunch</h6>
      <div class="col" *ngFor="let meal of lunchMeals">
        <app-meal-card
          [meal]="meal"
          (newCarbCountEvent)="updateCarbCount($event)"
        ></app-meal-card>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <h5>Total Carbs Consumed: {{ carbsConsumedTotal }}</h5>
    <app-meal-table [carbCounts]="carbCounts"></app-meal-table>
  </div> -->
</div>
