<nav class="navbar bg-body-tertiary mb-3">
  <div class="container-fluid">
    <div class="container">
      <div class="row">

        <a class="navbar-brand" href="#">CarbTracker</a>
      </div>
      <div class="row">
        <div class="col">
          <label class="form-label" for="school-select">Which school do you go to?</label>
          <select
            name="schools"
            id="school-select"
            (change)="onSelectSchool($event)"
            class="form-select"
            aria-label="select school"
          >
            <option value="">Choose School</option>
            <option *ngFor="let school of schools" [value]="school.key">
              {{ school.display }}
            </option>
          </select>
        </div>
        <div class="col">
          <ng-container *ngIf="selectedSchool">
            <label class="form-label" for="date">Date:</label>
            <input
              type="date"
              id="date"
              name="date"
              (change)="onSelectDate($event)"
              class="form-control"
              min="2024-03-01"
            />
          </ng-container>
        </div>
      </div>
    </div>

  </div>
</nav>

<div class="container">
  <div class="menu content" *ngIf="meals.length">
    <div class="row">
      <app-meal-card-list [meals]="meals"></app-meal-card-list>

    </div>
  </div>

</div>
