<div class="card mb-3" style="width: 9rem">
  <div class="card-header text-bg-primary">{{ meal.description | titlecase | ellipsis:10 }}</div>
  <div class="card-body">
    <p class="card-text"><small>Carbs: {{ meal.carbs }}</small></p>
    <p class="card-text"><small>Portion: {{ portionSize }}</small></p>
    <div class="btn-group">
      <button type="button" [ngClass]="getButtonClass('half')" (click)="onChangePortionSize('half')">Half</button>
      <button type="button" [ngClass]="getButtonClass('full')" (click)="onChangePortionSize('full')">Full</button>
    </div>

  </div>
</div>
