<div class="card mb-3" style="width: 100%">
  <div class="card-header text-bg-primary">{{ meal.description | titlecase }}</div>
  <div class="card-body">
    <p class="card-text">
      <small><strong>Carbs:</strong> {{ meal.carbs }}</small>
    </p>
    <p class="card-text">
      <small><strong>Portion:</strong> {{ meal.portionSize | titlecase }}</small>
    </p>
    <div class="btn-group">
      <button type="button" [ngClass]="getButtonClass('none')" (click)="onChangePortionSize('none')">None</button>
      <button type="button" [ngClass]="getButtonClass('half')" (click)="onChangePortionSize('half')">Half</button>
      <button type="button" [ngClass]="getButtonClass('full')" (click)="onChangePortionSize('full')">Full</button>
    </div>

  </div>
</div>
