<div class="card mb-3" style="width: 12rem;">
  <div class="card-header text-bg-primary">{{ meal.description | titlecase }}</div>
  <div class="card-body">
    <!-- <h5 class="card-title">{{ meal.description }}</h5> -->
    <p class="card-text">{{ meal.meal | titlecase }}</p>
    <p class="card-text">Carbs: {{ meal.carbs }}</p>
    <p class="card-text">Id: {{ meal.id }}</p>
    <div class="btn-group">
      <button type="button" [ngClass]="getButtonClass('half')" (click)="onChangePortionSize('half')">Half</button>
      <button type="button" [ngClass]="getButtonClass('full')" (click)="onChangePortionSize('full')">Full</button>
    </div>
    <!-- <div class="btn-group" role="group">
      <input type="radio" class="btn-check" name="half" id="half" autocomplete="off" (change)="addNewCarbCount($event)">
      <label class="btn btn-outline-primary" for="half">Half</label>

      <input type="radio" class="btn-check" name="whole" id="whole" autocomplete="off">
      <label class="btn btn-outline-primary" for="whole">Whole</label>

    </div> -->
  </div>
</div>
